#posicionamento {
  padding-top: 5%;
  padding-left: 5%;
  border-radius: 15px;
  background-image: URL(https://assets.objkt.media/file/assets-003/QmSC568UZFciA4AAJB4SwhXcreD7DygVr98MLqn9VnkJyA/artifact);
  height: 100%;
}
  
#soma {
  padding-top: 100%;
  padding-left: 16%;
  color: black;
  
  
  }

  #title {
    padding-top: 5%;
    text-align: center;
    
  }
  ion-title{
    --color: white;
    
  }



 